streamlit
langchain
groq
python-dotenv
langchain-community
langchain-huggingface
huggingface_hub
transformers
accelerate
torch
accelerate
sentence_transformers
streamlit_chat
faiss-cpu
altair
tiktoken
CTransformers
pypdf

